<div class="items" id="messages-sidebar">
    {% for message in recents %}
        <a
            href="{{ message['user_id'] }}"
            class="{% if message['user_id'] == selected %} selected {% endif %}"
        >
            <h2>{{ message['display_name'] }}</h2>
            {% if message['is_read'] %}
                <p class="time">{{ message['time'] }}</p>
            {% else %}
                <p class="time" style="color: #ab40a0;">{{ message['time'] }}</p>
            {% endif %}
            <p class="message-preview">{{ message['preview'] }}</p>
            
        </a>
    {% endfor %}
</div>
