<div {% if incoming %} data-incoming {% else %} data-outgoing {% endif %}>
    <div class="msg-contents">
        <span>{{ text_content }}</span>
        <ul class="attachments in-message">
            {% for attachment in attachments %}
                <li>
                    <a href="{{ url_for('get_message_attachment', attachment_id=attachment.id) }}">{{
                        attachment.filename
                    }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <span class="msg-time">{{ timestamp }}</span>
</div>
