#ignore .venv directory
./.venv
./venv
/venv/
/.venv/


#ignore the database and instance directory
/instance/*
/instance
*.db


#Ignore specific file extensions
*.pyc

# OS
.DS_Store

#Ignore images from users
/static/imgs/users/
./static/imgs/users/*
