#ignore .venv directory
./.venv
./venv
/venv/
/.venv/


#ignore the database and instance directory
/instance/*
/instance
*.db


#Ignore specific file extensions
*.pyc

# OS
.DS_Store

#Ignore images from users
/app/static/imgs/
*.kate-swp
*.kate-swp
