.heading {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #cbcbcb;
    overflow-x: hidden;
    text-align: left;
    vertical-align: top;
}

.heading title {
    display: inline-block;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.heading a {
    padding: 12px 20px 12px 20px;
    margin: 18px 25px 0px 0px;
    float: right;
    right: 100px;
    text-decoration: none;
    color: currentColor;
    background-color: #b7b7b7;
    border-radius: 5px;
}

.heading a:hover {
    background-color: #8e8e8e;
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111312;
    overflow-x: hidden;
    padding-top: 100px;
    padding-left: 16px;
    color: #cbcbcb;
}

.sidebar label {
    padding: 30px 0px 0px 0px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

.sidebar li {
    padding: 5px 8px 6px 0px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.sidebar form {
    padding: 10px 0px 0px 0px;
}

.sidebar input {
    padding: 2px 5px 2px 5px;
}

.grid {
    padding: 150px 0px 0px 20%;
    display: grid;
    width: 60%;
    grid-template-columns: 40% 40% 40%;
    column-gap: 2%;
    row-gap: 20px;
}

.offer {
    box-sizing: border-box;
    background-color: #cbcbcb;
    border-radius: 5px;
}

.offer b {
    padding: 0px 0px 0px 10px;
    font-size: 20px;
}

.offer p.description {
    padding: 0px 10px 0px 10px;
    color: #000000;
}

.offer img {
    width: 50%;
    height: 50%;
    padding-left: 10px;
}

.offer p.price {
    padding: 0px 0px 0px 10px;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
}

.background{
    background-color: #1E1E1E;
    font-family: system-ui;
}