.heading {
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #cbcbcb;
    overflow-x: hidden;
    text-align: left;
    vertical-align: top;
}

.heading title {
    display: inline-block;
    font-size: 50px;
    padding-top: 25px;
    padding-left: 20px;
}

.heading a {
    padding: 50px 40px 0px 0px;
    float: right;
    right: 100px;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111312;
    overflow-x: hidden;
    padding-top: 100px;
    color: #cbcbcb;
}

.sidebar label {
    padding: 30px 0px 0px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

.sidebar li {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.sidebar form {
    padding: 10px 0px 0px 20px;
}

.grid {
    padding: 150px 0px 0px 330px;
    display: grid;
    width: 600px;
    grid-template-columns: 400px 400px 400px;
    column-gap: 20px;
    row-gap: 20px;
}

.offer {
    height: 350px;
    box-sizing: border-box;
    background-color: #cbcbcb;
}

.offer h3 {
    padding: 0px 0px 0px 10px;
    display: inline;
    font-size: 20px;
}

.offer p.description {
    padding: 0px 0px 0px 10px;
    color: #000000;
}

.offer img {
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.offer p.price {
    padding: 0px 0px 0px 10px;
    vertical-align: bottom;
    text-align: left;
    font-size: 10px;
}

.background{
    background-color: #1E1E1E;
    font-family: Calibri;
}