.vertical-buff{
    margin-top: 100px;
}
.background{
}
.text{
    font-family:Tahoma, sans-serif;
}
.box{
    border-radius: 2%;
    background-color: #f5f5f5;
    border-color: #E9B023;
}
.input-box{
    border-radius: 2%;
    border: 0;
}
input[type="submit"] {
    background: #8e8e8e;
    margin-top: 3px;
    border: 0;
    border-radius: 5px;
}
.error {
    background-color: red;
    font-weight: bold;
}
