/* TEMP: accent colors; can be changed later */
:root {
    --accent-primary: #8D3484;
    --accent-secondary: color-mix(in hsl, Canvas, grey 20%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-primary: #cf7dc7;
    }
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;

    background-color: Canvas;
    color: currentColor;

    font-family: system-ui;
}

#content {
    display: grid;
    grid-template-columns: 25% 1fr;
    overflow-y: auto;
}

.sidebar > h1 {
    padding: 1rem 1rem;
    border-block-end: 1px solid grey;
    margin: 0;
}

.sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    border-inline-end: 1px solid grey;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.sidebar > .items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

.sidebar a {
    text-decoration: none;
    color: currentColor;
    padding-block: 0.5em;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
}

.sidebar a > p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    opacity: .8;
}

.sidebar p.message-preview {
    grid-column: span 2;
}

.sidebar .selected {
    background-color: var(--accent-secondary);
}


.messages-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    overflow-y: auto;
}

.messages {
    overflow-y: auto;
    display: flex;
    gap: 0.5em;
    padding: 2em;
    flex-direction: column-reverse; /* to default the scroll position to the bottom */
}

.messages p {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.messages span.msg-contents {
    display: inline-block;
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--_msg-color);
    background-color: var(--_msg-bg);

    overflow-wrap: anywhere;
    white-space: break-spaces;
}

.messages span.msg-time {
    font-size: 0.6rem;
}

.messages p[data-incoming] {
    align-self: start;
    align-items: start;
    --_msg-bg: var(--accent-secondary);
}

.messages p[data-outgoing] {
    align-self: end;
    align-items: end;
    --_msg-bg: var(--accent-primary);
    --_msg-color: Canvas;
}

.message-controls {
    border-block-start: 1px solid grey;
    padding: 0.5em;
    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

.message-controls > * {
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--accent-secondary);
}

#message-input {
    flex-grow: 1;

    margin: 0;
    font-family: inherit;
    font-size: inherit;

    overflow-wrap: anywhere;
    white-space: break-spaces;
}

#message-input:empty::before {
  content: attr(placeholder);
  opacity: 0.5;
}

.empty-notifier {
    place-self: center;
}

