<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class = "container align-items-center h-50 align-middle">
            <div>
                <p class = "text-center">[name of website here]</p>
            </div>
            <div class = "container border w-50 p-3">
                <p class = "text-center">Login</p>
                <div class = "container align-items-center w-50">
                    <label>Email:</label><br>
                    <input type="email"><br>
                    <label>Password:</label><br>
                    <input type="password"><br>
                    <p>Sign up <a href="https://www.youtube.com/watch?v=sUoZMmzjw6s&t=11481s">here!</a> </p>
                </div>
            </div>
        </div>
    </body>
</html> 