<!-- TODO: desc -->

{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='gallery.js') }}"></script>
    <script src="{{ url_for('static', filename='message-utils.js') }}"></script>
    <script>
        const isSelf = {{ (artist.id == current_user.id)|tojson }} {# tojson to turn True/False -> true/false #}
        const offer = {{ offers|tojson }}
    </script>
{% endblock %}

{% block content %}
    <div id="sidebar">
        <div class="profile-picture">
            <img src="{{ url_for('static', filename='imgs/profiles/' +  artist.id|string  + '.jpg' ) }}">
        </div>
        <h2>{{ artist.display_name }}</h2>
        <h4>{{ artist.artist_title }}</h4>
        <p>{{ artist.artist_description }}</p>
        {% if artist.id == current_user.id %}
            <a class="button" href="/upload_image">Upload Image</a>
            <a class="button" href="/add_offer">Add Offer</a>
            <a class="button" href="/edit_details">Edit Details</a>
        {% endif %}
    </div>

    <div class="gallery-container">
        <h2>Offers</h2>
            <div class="carousel-container">
                {% for offer in offers %}
                    <div class="slide" onclick="openOfferModal('{{ offer.id }}')">
                        <img src="{{ url_for('static', filename=offer.image_path) }}" alt="{{ offer.title }}">
                    </div>
                {% endfor %}
            </div>
        <!-- Add the arrow buttons for navigation -->
        <button id="left-arrow" onclick="prevSlide();"><</button>
        <button id="right-arrow" onclick="nextSlide();">></button>

        <h2>Art Gallery</h2>
        <div class="gallery" id="imagesGallery">
            {% for image in images %}
            <div class="image-container">
                <img id="{{ image.id }}" src="{{ url_for('static', filename=image.image_path) }}" class="img-fluid" alt="{{ image.title }}">
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="imageModal" hidden>
        <div class="modal-content">
            <img id="enlargedImage" src="" alt="Enlarged Image">
            <div class="image-description">
                <h3 id="imageTitle">Image Title</h3>
                <p id="imageDesc">Image description goes here...</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerModalLabel">Offer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="modalImage" src="" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <h4 id="modalTitle"></h4>
                            <p id="modalDescription"></p>
                            {% if artist.id != current_user.id %}
                                <div class="contact">
                                    <textarea placeholder="Message artist..." id="contact-artist-message"></textarea>
                                    <input type="button" id="contact-artist-btn" class="button" value="Send (Ctrl+Enter)">
                                </div>
                            {% else %}
                                {# TODO: Maybe an "edit offer" button? #}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

