<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body class = "background">
        <div class = "container align-items-center h-50 align-middle vertical-buff">
            <div>
                <p class = "text-center text">[name of website here]</p>
            </div>
            <div class = "container box border w-50 p-3">
                <p class = "text-center text">Login</p>
                <div class = "container align-items-center">
                    <label class = "text">Email:</label><br>
                    <input type="email" class = "container input-box"><br>
                    <label class = "text">Password:</label><br>
                    <input type="password" class = "container input-box"><br>
                    <button>Confirm</button>
                    <p class = "text">Sign up <a href="https://www.youtube.com/watch?v=sUoZMmzjw6s&t=11481s">here!</a> </p>
                </div>
            </div>
        </div>
    </body>
</html> 