<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body class = "background">
        <div class = "container align-items-center h-50 align-middle vertical-buff">
            <div>
                <p class = "text-center text">[name of website here]</p>
            </div>
            <div class = "container box border w-50 p-3">
                <p class = "text-center text">Login</p>
                <form name="login" action="" method="POST" class = "container align-items-center">
                    {{ form.hidden_tag() }}
                    {{ form.email.label(class_='text') }}
                    <br>
                    {{ form.email(class_='container input-box') }}
                    <br>
                    {{ form.password.label(class_='text') }}
                    <br>
                    {{ form.password(class_='container input-box') }}
                    <br>
                    {{ form.submit() }}
                    <p class = "text">Sign up <a href="{{ url_for('signup') }}">here!</a> </p>
                </form>
            </div>
        </div>
    </body>
</html> 
