{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
<script src="{{ url_for('static', filename='messages-page.js') }}"></script>
{% endblock %}

{% block title %}
Messages
{% endblock %}

{% block content %}
<div class="sidebar">
    {% include 'components/messages-sidebar.html' %}
</div>
<div class="messages-wrapper">
    {% if messages is none %}
        <p class="empty-notifier">No conversation selected.</p>
    {% else %}
        <div class="messages">
            {% for message in messages %}
                {% with
                    incoming=message['incoming'],
                    text_content=message['contents'],
                    timestamp=message['timestamp'],
                    attachments=message['attachments']
                %}
                    {% include 'components/message.html' %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="message-controls">
            <pre id="message-input" placeholder="Message..." contenteditable></pre>
            <label for="attach-btn">Attach</label>
            <input type="file" id="attach-btn" value="Attach">
            <input type="button" id="send-btn" value="Send (Ctrl+Enter)">
        </div>
        <ul id="attachments" class="attachments in-draft">
            <span>Attachments:</span>
        </ul>
    {% endif %}
</div>
{% endblock %}
