{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
<script src="{{ url_for('static', filename='messages-page.js') }}"></script>
{% endblock %}

{% block title %}
Messages
{% endblock %}

{% block content %}
<div class="sidebar">
    {% include 'components/messages-sidebar.html' %}
</div>
<div class="messages-wrapper">
    {% if messages is none %}
        <p class="empty-notifier">No conversation selected.</p>
    {% else %}
        <div class="messages">
            {% for message in messages %}
            <p {% if message['incoming'] %} data-incoming {% else %} data-outgoing {% endif %}>
                <span class="msg-contents">{{ message['contents'] }}</span>
                <span class="msg-time">{{ message['timestamp'] }}</span>
            </p>
                
            {% endfor %}
        </div>
        <div class="message-controls">
            <pre id="message-input" placeholder="Message..." contenteditable></pre>
            <input type="button" id="attach-btn" value="Attach">
            <input type="button" id="send-btn" value="Send (Ctrl+Enter)">
        </div>
    {% endif %}
</div>
{% endblock %}
