<!-- Form for uploading a new image to the currently signed in user -->
{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-form.css') }}">
{% endblock %}

{% block content %}
<h1>Upload an Image</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }} {{ form.title(size=32) }}
    </div>
    <div>
        {{ form.description.label }} {{ form.description(rows=4) }}
    </div>
    <div>
        {{ form.image() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
